*{
    margin: 0;
}
img{
    max-height: 200px;
    border-radius: 1000px;
    margin: 10px;
}
h1{
    background-color: rgb(212, 210, 210);
    border: solid orange 2px;
    margin: 30px;
    color: orange;
    padding: 1px;
    
}
header{
    color: rgb(65, 63, 63);
    margin: 10px;
    p{ 
        margin:30px ;}
    }
main{ 
    background-color: rgb(212, 210, 210);
    border: solid orange 2px;
    margin: 50px;
    padding: 10px;
    
    ol{
        margin: 10px
        
    }
    
}
 h3{
    color: orange;
}
footer{
    margin: 50px;
    margin-left: 550px;
    color: black;
    font-style: italic;
}